body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: rgb(223, 110, 12);
  color: #333;
  padding: 20px;
  text-align: center;
}

h1 {
  margin: 0;
}

nav {
  background-color: #f4f4f4;
  padding: 10px;
  text-align: center;
}

nav a {
  color: #333;
  text-decoration: none;
  margin: 0 10px;
}

.info {
  background-color: #f4f4f4;
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info .about-info {
  width: 50%;
  text-align: left;
}

.info .skills-info {
  width: 50%;
  text-align: left;
}

.info .about-info img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  margin: 20px;
}

.project {
  background-color: #f4f4f4;
  padding: 20px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.project:hover {
  transform: scale(1.05);
}

.project a {
  align-items: center;
  text-decoration: none;
}

.project .github img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.project .github img:hover{
  transform: scale(1.5);
}

.project .link{
  width: 100%;
  height: 60%;
  object-fit: cover;
}
.project .link:hover{
  transform: scale(1.05);
}

.project .lenguaje{
  width: 40px;
  height: 40px;
}

.filter-bar {
  margin-bottom: 20px;
}

.filter-bar button {
  margin-right: 10px;
}

@media (max-width: 800px) {
  .gallery {
    display: block;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin: 20px;
  }
  .project {
    background-color: #f4f4f4;
    padding: 20px;
    text-align: center;
    margin: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
}

footer {
  background-color: rgb(223, 110, 12);
  color: #333;
  padding: 20px;
  text-align: center;
}

.form-container {
  max-width: 450px;
  margin: 0 auto;
  padding: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #333;
  border-radius: 4px;
}

.form-group textarea {
  resize: vertical;
}

.form-group input[type="submit"] {
  background-color: #333;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: #fff;
}

.form-group input[type="submit"]:hover {
  background-color: rgb(98, 97, 97);
}

.social-links {
  display: flex;
  justify-content: center;
}

.social-links a {
  display: inline-block;
  margin-right: 10px;
}

.social-links a img{
  width: 50px;
  height: 50px;
}
.social-links a img:hover{
  width: 70px;
  height: 70px;
}